body{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position:initial;
  background-size: cover;
}

nav {
  text-align: center;
  position: relative;
}

nav li {
  display: inline-block;
  margin: 16px 10px;
  font-size: 25px;
}

nav li:not(:last-child):after {
    margin-left: 24px;
}
nav li a {
  text-decoration: none;
  color: black;
  transition: 0.3s color;
  font-weight: bold;
}

nav li a:hover{
  color: rgba(46, 42, 42, 0.5);

}

section {
  width: 1020px;
  height: 480px;
  margin: 0 auto;
  padding-top: 48px;
  position: relative;
}

.pessoa {
  display: inline-block;
  left: 70px;
}

.pessoa h1 {
  font-size: 60px;
  margin-top: 120px;
  color: black;
}

.avatar{
  position: absolute;
  width: 300px;
  aspect-ratio: 1;
  background-image: url('./perfil.png');
  background-position: center;
  background-size: cover;
  right: 80px;
  top: 120px;
  border-radius: 50%;
  border: rgb(82, 151, 179) 10px solid ;
}

.pessoa h2 {
  margin: 16px 0;
  font-weight: 700;
  font-style: italic;
  color: black;
}

.icones-informacoes{
  width: 40px;
}

.contato{
  position: relative;
  margin-top: 4px;
}

.contato p{
  position: absolute;
  top: 10px;
  left: 60px;
  color: black;
}

.midias{
  position: absolute;
  right: 180px;
  top: 440px;
}

.midias img{
  width: 45px;
  display: inline-block;
  margin-left: 4px;
}