body{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position:initial;
  background-size: cover;
}

nav {
  text-align: center;
  position: relative;
}

nav li {
  display: inline-block;
  margin: 16px 10px;
  font-size: 25px;
}

nav li:not(:last-child):after {
    margin-left: 24px;
}
nav li a {
  text-decoration: none;
  color: black;
  transition: 0.3s color;
  font-weight: bold;
}

nav li a:hover{
  color: rgba(46, 42, 42, 0.5);

}

section {
  width: 1020px;
  height: 480px;
  margin: 0 auto;
  padding-top: 48px;
  position: relative;
}

.pessoa {
  display: inline-block;
  left: 70px;
}

.pessoa h1 {
  font-size: 60px;
  margin-top: 120px;
  color: black;
}

.avatar{
  position: absolute;
  width: 300px;
  aspect-ratio: 1;
  background-image: url('./perfil.png');
  background-position: center;
  background-size: cover;
  right: 80px;
  top: 120px;
  border-radius: 50%;
  border: rgb(82, 151, 179) 10px solid ;
}

.pessoa h2 {
  margin: 16px 0;
  font-weight: 700;
  font-style: italic;
  color: black;
}

.icones-informacoes{
  width: 40px;
}

.contato{
  position: relative;
  margin-top: 4px;
}

.contato p{
  position: absolute;
  top: 10px;
  left: 60px;
  color: black;
}

.midias{
  position: absolute;
  right: 180px;
  top: 440px;
}

.midias img{
  width: 45px;
  display: inline-block;
  margin-left: 4px;
}


main div {
  width: 1020px;
  margin: 0 auto;
}

.sobre-mim{
  position: relative;
}

.foto-sobre-mim{
  width: 400px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.527);
} 

.texto-sobre-mim{
  font-size: 18px;
  display: inline-block;
  width: 480px;
  vertical-align: top;
  position: absolute;
  top: 50px;
  right: 40px;
}

.titulo{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 70px;
}

.background-texto{
  background-color: rgb(82, 151, 179);
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.527);
  padding: 20px;
  display: inline-block;
  border-radius: 6px;
  width: 45%;
  box-sizing: border-box;
  vertical-align: top;
  height: 100px;
}

.background-texto a{
  color: black;
}

.icones-habilidades{
  padding-bottom: 120px;
}

.margem-caixas{
  margin: 2%;
}

.icones-interesses{
  width: 80px;
  transition: 0.7s transform;
}

.icones-interesses:hover{
  transform: scale(1.2);
}

.display-informacoes-interesses{
  display: none;
}